@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3> Task Managment System Website</h3>
    <h4> Manage you Porjects and Tasks easily</h4>
</div>
